{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/registration_css/signup.css' %}">
</head>
<body>
    <div class="signup-container">
        <h2 class="signup-title">Sign Up</h2>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" class="signup-form">
            {% csrf_token %}
            
            <div class="form-field">
                <label for="id_username" class="form-label">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-field">
                <p>Password must be atleast 8 characters long and must not be all numbers.</p>
                <label for="id_password1" class="form-label">Password</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-field">
                <label for="id_password2" class="form-label">Confirm Password</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors.0 }}</div>
                {% endif %}
            </div>

            <button type="submit" class="submit-btn">Sign Up</button>
        </form>

        <p class="login-link">Already have an account? <a href="{% url 'login' %}" class="login-btn">Log in</a></p>
    </div>
</body>
</html>
